{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="" action="" method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" class="btn btn-primary" name="" value="login">
      </form>
    <small> follow this link to create an accounts  <a href="{% url 'user_registration' %}">Sign up </a></small>  
    </div>
  </div>
</div>
{% endblock %}
